<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">Title</a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/sign-in">Sign In</a>
      <a class="navbar-item" href="/sign-up">Sign Up</a>
    </div>
  </div>
</nav>
