<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
  </head>
  <body>
    <header>
      <%- include("./header.ejs") %>
    </header>
    <main>
      <form class="message is-light">
        <div class="message-header">
          <p><%= title %></p>
        </div>
        <div class="message-body">
          <!-- <form action="/add" method="POST"> -->
          <label class="label">Name</label>
          <input class="input" type="text" name="username"/><br>
          <label class="label">E-Mail Address</label>
          <input class="input" type="text" name="email"/><br>
          <label class="label">Password</label>
          <input class="input" type="password" name="password"/><br>
          <label class="label">Confirm Password</label>
          <input class="input" type="password" name="confirm-password"/><br>
          <button class="button">Sign Up</button>
        </div>
      </form>
    </main>
  </body>
</html>